* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  border: none;
  outline: none;
}
body {
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
}
.container {
  width: 50%;
  margin-top: 70px;
}
.top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  align-items: center;
}
.top h1 {
  font-size: 3rem;
  letter-spacing: 2px;
}
#theme-toggler {
  padding: 8px 30px;
  background-color: #fff;
  font-weight: bold;
  border: 2px solid gray;
  border-radius: 20px;
}
#form {
  display: flex;
}
#input {
  flex: 1;
  padding: 8px 10px;
  font-size: 1.1rem;
  border: 2px solid gray;
}
#submit {
  padding: 8px 30px;
  background-color: rgb(101, 101, 101);
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  margin-left: 10px;
  border-radius: 6px;
  opacity: 0.7;
  transition: opacity .5s ease-in-out;
}
#submit:hover {
  opacity: 1;
}
#outputs {
  padding-top: 50px;
}

#outputs p {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: bold;
  color: gray;
}

/* Themes */
.theme-mode {
  background-color: #111;
  color: #fff;
}

.loader {
  font-size: 1.2rem;
  font-weight: bold;
}